<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="/js/client.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {{>header}}
    <div class="main">
      <form >
        <input type="text" placeholder="Place">
        <button>Search</button>
      </form>
        <h3 class="msg1"></h3><br>
        <h3 class="msg2"></h3><br>
        <h3 class="msg3"></h3><br>
    </div>
    {{>footer}}
  </body>
</html>
